@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  width: 100vw;
  background-color: #000;
  color: #fff;
}

h1{
  font-size: 3rem;
  display: flex;
  align-items: center;
}

h1 span {
  color: brown;
  display: inline-flex;
  align-items: center;
  margin-left: 8px;
}

h1 span::after{
  content: "";
  width: 3px;
  height: 45px;
  background-color: brown;
  display: inline-block;
  margin-left: 4px;
}